snippet li "Markdown Links"
    [${1}](${2})${0}

snippet no "Bib Note"
    note = {${1}}${0}

snippet sec "Bib Note Section"
    \\section{${1}}${0}

snippet ssub "Bib Note SubSection"
    \\subsection{${1}}${0}

